fastapi==0.128.0
uvicorn==0.40.0
jsonschema==4.26.0
httpx==0.28.1
pytest==9.0.2
pytest-asyncio==1.3.0
faster-whisper==1.2.1
sqlite-vec==0.1.6
langgraph
langchain
langchain-community
langchain-openai

# NeuTTS Air 
llama-cpp-python==0.3.16
librosa==0.11.0
neucodec>=0.0.4
numpy==2.2.6
phonemizer==3.3.0
soundfile==0.13.1
torch==2.8.0
transformers==4.56.1
resemble-perth==1.0.1
#pyaudio # For streaming audio in chunks